<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Just For Test</h1>
    <p>Thie is honyar JPush Test</p>
  </body>
</html>
